{% extends "base.html" %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
      <span class="text-muted fw-light">Organization management/</span>
      Department management
    </h4>
    
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form method="POST" action="{{ url_for('add_position') }}">
          <!-- Input Sizing -->
          <div class="card mb-4">
            <h5 class="card-header">Adding Position</h5>
            <div class="card-body">
              
              <!-- Position Name -->
              <div class="mb-3">
                <label for="position_name" class="form-label">Position Name</label>
                <input name="position_name" id="position_name" class="form-control" type="text" placeholder="Input Text" required />
              </div>
              
              <!-- Select Department -->
              <div class="mb-3">
                <label for="department" class="form-label">Select Department</label>
                <select id="department" class="form-select" name="department" required>
                  <option value="" disabled selected>Select Department</option>
                  {% for department in departments %}
                    <option value="{{ department[0] }}">{{ department[1] }}</option>
                  {% endfor %}
                </select>
              </div>
              
              <!-- Basic Salary -->
              <div class="mb-3">
                <label for="basic_salary" class="form-label">Basic Salary</label>
                <input name="basic_salary" id="basic_salary" class="form-control" type="number" placeholder="Input Amount" required />
              </div>
              
              <!-- Submit Button -->
              <button type="submit" class="btn btn-primary">Submit</button>
              <a class="btn btn-secondary ms-2" href="{{ url_for('index') }}">Return to Main Page</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
