{% extends "userbase.html" %}

{% block content %}
<div class="container">
    <div>
    <h1>People Link</h1>

  
    <h6 class="mt-2 text-muted">Check In Now!!!!</h6>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
  {% endwith %}

    <div class="card">
      <img class="card-img-top" src="static/assets/img/elements/7.jpg" alt="Card image cap" />
      <div class="card-body">
        <form method="POST" class="form-inline">
            <select class="btn btn-outline-primary dropdown-toggle" id="status" data-bs-toggle="dropdown" name="status" required>
                <option value="" disabled selected>Choose Attendance Status</option>
                <option value="Present">Present</option>
                <option value="Leave">Leave</option>
            </select>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

            <div class="icon-section">
            <div class="icon-box">
                <div class="icon">
                    <!-- Add icon here, e.g., <i class="fas fa-user"></i> if using FontAwesome -->
                </div>
                <p>My Profile Information</p>
            </div>
            <div class="icon-box">
                <div class="icon"></div>
                <p>My Payroll Record</p>
            </div>
            <div class="icon-box">
                <div class="icon"></div>
                <p>My Attendance Record</p>
            </div>
            <div class="icon-box">
                <div class="icon"></div>
                <p>My Career History</p>
            </div>
            <div class="icon-box">
                <div class="icon"></div>
                <p>Contact HR Team</p>
            </div>
            <div class="icon-box">
                <div class="icon"></div>
                <p>Contact IT Team</p>
            </div>
        </div>
    </div>
{% endblock %}
