{% extends "userbase.html" %}

{% block content %}
    <!-- Page Content -->
    <div class="container mt-4">
        <h1>My Payroll for {{ current_year }}</h1>
        <a class="btn btn-secondary mb-3" href="{{ url_for('check_in') }}">Return to Main Page</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Month</th>
                    <th>Basic Salary</th>
                    <th>Tax</th>
                    <th>SSB</th>
                    <th>Monthly Payout</th>
                    <th>Net Salary</th>
                    <th>Total Present</th>
                    <th>Total Leave</th>
                </tr>
            </thead>
            <tbody>
                {% for record in payroll_data %}
                <tr>
                    <td>{{ record.month }}</td>
                    <td>{{ record.basic_salary | float | round(2) }}</td>
                    <td>{{ record.tax | float | round(2) }}</td>
                    <td>{{ record.ssb | float | round(2) }}</td>
                    <td>{{ record.monthly_payout | float | round(2) }}</td>
                    <td>{{ record.net_salary | float | round(2) }}</td>
                    <td>{{ record.total_present }}</td>
                    <td>{{ record.total_leave }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endblock %}
