{% extends "base.html" %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Organization management /</span> Organization Dashboard
    </h4>

    <!-- Departments Table -->
    <div class="card mb-4">
        <h5 class="card-header">Departments</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Department ID</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for department in departments %}
                    <tr>
                        <td>{{ department[0] }}</td>
                        <td>{{ department[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Positions Table -->
    <div class="card mb-4">
        <h5 class="card-header">Positions</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Position ID</th>
                        <th>Name</th>
                        <th>Department</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for position in positions %}
                    <tr>
                        <td>{{ position[0] }}</td>
                        <td>{{ position[1] }}</td>
                        <td>{{ position[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

    {% endblock %}